* {
    color: #FF875B;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto Flex', sans-serif;
}



.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Header section*/

  header {
    display: flex;
  width: 100%;
  position: fixed;
  z-index: 20;
  height: 75px;
  background-color: #FED9CB;
  align-items: center;
}



.nav {
    display:flex;
    justify-content: flex-end;
    padding-right: 10px;
  flex: 4 1 0%;
  
}

#cart{
    cursor: pointer;
}

a {
  margin-left: 25px;
  margin-right: 5px;
}


#logo {
    height: 75px;
    width: 75px;
    
}

.material-icons {
font-size: 75px;
color: white;
}

/* Home Page Section*/

#feature {
    height: 700px;
    width: 100%;
    background-image: url("./feature.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    display:flex;
   
    margin: 0 auto;
    justify-content: center;
}

#feature .content {
    margin: auto;
    background-color: #FFF4F0;
    height: 100px;
    width: 100%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
}

/* Store Section */

#store {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luxurious Roman', cursive;
    font-weight: bold;
}

#store h3 {
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

#items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Abel', sans-serif;
}

#store img {
    height: 240px;
    width: 240px;
    border-radius: 25px;
    border-color: #FED9CB;
    border: 3px;
}

.store-info {
    display: flex;
    justify-content:center;
    flex-flow:column wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.bt {
    border-radius: 15px;
    background-color:#FF875B;
    border-color: #FFF4F0;
    color:#FFF4F0;
    padding: 5px 10px;
}

.bt:hover {
    background-color: #FFF4F0;
    color: #FF875B;
    cursor: pointer;
}

/* Footer Section */

footer {
    background-color: #FED9CB;
    width: 100%;
    height: 100px;
    bottom: 0px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Shopping Cart Section */

.cart-row {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    width: 75%;
    margin: 20px;
}

.cart-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.cart-quantity input {
    border: none;
    appearance: none;
    background: #FFF4F0;
    padding: 12px;
    border-radius: 10px;
    width: 100px;
}

.container {
    position: relative;
    width: 80px;
    height: 50px;
    border-radius: 40px;
    border: 2px solid;
    transition: 0.5s;
}

.container .next{
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #FFF4F0;
    border-left: 2px solid #FFF4F0;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
}

.container .prev{
    position: absolute;
    top: 50%;
    left: 10px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #FFF4F0;
    border-left: 2px solid #FFF4F0;
    z-index: 1;
    transform: translateY(-50%) rotate(315deg);
    cursor: pointer;
}

#box span{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;
    color:#FFF4F0;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}

.cart-item-image {
   border-radius: 20px;
}

.shopping-cart h5{
    letter-spacing: 5px;
}

.shopping-cart {
    position:absolute;
  right: 0px;
  height: 93vh;
  top:7vh;
  background-color: #FED9CB;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
 
}

.nav-active {
    transform: translateX(0%);
}

/*Phone Screen */


@media only screen and (max-width: 780px) {
    .shopping-cart {
        width: 50%;
    }
}